body, html{
    position: absolute;
    background-color: rgb(192, 150, 150);
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;

}

button{
    padding: 15px 25px;
    background-color: rgba(49, 134, 212, 0.781);
    border: 2px solid black;
    transition: transform 0.2s;
   
}

button:hover{
    background-color: white;
    color: black;
    transform: scale(1.5);
    cursor: pointer;
}

.error-text{
    font-size: 3rem;
    font-weight: 900;
}

#poke-info{
    position: relative;
    bottom: 390%;
    right: -20%;
    width: auto;
    border: 5px dotted red;
    font-size: 1.5rem;
    color: rgb(30, 30, 100);
    font-weight: 900;

}
