body {
  background: #c3cfe2;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
}

.container {
  max-width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.afb {
  width: 186px;
  height: 270px;
  border-radius: 10px;
  margin: 10px;
}

.btn {
  position: absolute;
  background-color: lightslategray;
  color: lightslategray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 186px;
  height: 270px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.btn:hover {
  background-color: lightslategray;
  opacity: 1;
}